.brd .entry-content .torrentbox {
	margin: 0 0 1.331em 1.331em;
	border: none !important;
	border-left: 3px solid #3E98D7 !important;
	background: inherit !important;
	padding: 0 1em !important;
}

.brd .entry-content .torrentbox cite {
	display: block;
	color: #333;
	font-weight: bold !important;
	font-style: normal !important;
}

.brd .entry-content .torrentbox div {
	margin-bottom: 0 !important;
}
