#fancy_spellcheck_block {
	text-align: right;
	margin: 0 2.5em 0 17em;
	width: auto;
}

#fancy_spellcheck_link {
	font-size: .97em;
	color: #005EB0;
	border-bottom: dashed 1px #005EB0;
	cursor: pointer;
}

#fancy_check_spelling_ok {
	color: green;
	margin-left: -1.1em;
	opacity: 0;
}

#fancy_spellcheck_span {
	padding-right: 22px;
}

.busy {
	background: transparent url('img/ajax_loader.gif') bottom right no-repeat;

}
