.syntaxhighlighter { width: 100%; margin: 1em 0 1em 0; padding: 1px;  position: relative; }
.syntaxhighlighter .bold { 	font-weight: bold; }
.syntaxhighlighter .italic { font-style: italic; }
.syntaxhighlighter .line .number { float: left; width: 2em; padding-right: .3em; text-align: right; display: block; }

/* Disable numbers when no gutter option is set */
.syntaxhighlighter.nogutter .line .number { display: none; }

.syntaxhighlighter .line .content { margin-left: 2.3em; padding-left: .5em; display: block; }
div.as_code { white-space: pre !important; /*line-height: 1.5em;*/ background: inherit;  }

.syntaxhighlighter .line .content .block { display: block;	padding-left: 1.5em; text-indent: -1.5em; }
.syntaxhighlighter .line .content .spaces { display: none; }

/* Disable border and margin on the lines when no gutter option is set */
.syntaxhighlighter.nogutter .line .content { margin-left: 0; border-left: none; }
.syntaxhighlighter.nogutter .ruler { margin-left: 0; padding-left: 0; }
.syntaxhighlighter .ruler { padding: 0 0 .5em .5em; margin-left: 3.3em; overflow: hidden; }

.syntaxhighlighter .toolbar
{
	padding: .1em .2em .1em .3em !important;
	text-align: right;
	position: absolute;
	right: .5em;
	top: 0em;
	z-index: 999;
}

.syntaxhighlighter .toolbar a.item,
.syntaxhighlighter .toolbar .item
{
	font: .85em/1 Arial;
	padding: 0 !important;
	margin: 0 0 0 .3em;
	text-decoration: none;
}

.syntaxhighlighter .toolbar a,
.syntaxhighlighter .toolbar a:link,
.syntaxhighlighter .toolbar a:hover,
.syntaxhighlighter .toolbar a:active {
	text-decoration: none !important;
}

.syntaxhighlighter .toolbar .item.viewSource { }
.syntaxhighlighter .toolbar .item.printSource { display: none; }
.syntaxhighlighter .toolbar .item.about { display: none; }
.syntaxhighlighter .toolbar .item.copyToClipboard { display: none; }

.syntaxhighlighter .toolbar { visibility: hidden; }
.syntaxhighlighter:hover .toolbar { visibility: visible; }

.syntaxhighlighter  { margin-bottom: 0 !important; }
.syntaxhighlighter * { margin-bottom: 0 !important; }
.codebox { padding: 0 !important; }


.syntaxhighlighter { /*background-color: red;*/ }
.syntaxhighlighter .line.highlighted .number { background-color: #6CE26C; color: black; }
.syntaxhighlighter .line.highlighted.alt1 .content,
.syntaxhighlighter .line.highlighted.alt2 .content { background-color: #6CE26C; }
.syntaxhighlighter .line .number { color: #5C5C5C; background-color: #F3F2EA; }

.syntaxhighlighter .line .content { border-left: 1px solid #ccc; color: #000; background-color: #F3F2EA;}
.syntaxhighlighter.printing .line .content { border: 0; }
.syntaxhighlighter .line.alt1 .content { background-color: #fff; }
.syntaxhighlighter .line.alt2 .content { background-color: #F8F8F8; }
.syntaxhighlighter .line .content .block { /*line-height: 1.5em; */}

.syntaxhighlighter .ruler { color: silver; background-color: #F8F8F8; }
.syntaxhighlighter.nogutter .ruler { border: 0; }
.syntaxhighlighter .toolbar a { color: #999; }
.syntaxhighlighter .toolbar a:hover { color: #0085CF !important; }

/************************************
 * Actual syntax highlighter colors.
 ************************************/
.syntaxhighlighter .plain, .syntaxhighlighter .plain a { color: #000; }
.syntaxhighlighter .comments, .syntaxhighlighter .comments a { color: #999; }
.syntaxhighlighter .string, .syntaxhighlighter .string a { color: #FF8400; }
.syntaxhighlighter .keyword { color: #0055cc !important; }
.syntaxhighlighter .preprocessor { color: #0BA191; }
.syntaxhighlighter .variable { color: #8F1111; }
.syntaxhighlighter .value { color: #090; }
.syntaxhighlighter .functions { color: #0055CC; }
.syntaxhighlighter .constants { color: #0066CC; }
.syntaxhighlighter .script { background-color: yellow !important; }
.syntaxhighlighter .color1, .syntaxhighlighter .color1 a { color: #0055cc; }
.syntaxhighlighter .color2, .syntaxhighlighter .color2 a { color: #ff1493; }
.syntaxhighlighter .color3, .syntaxhighlighter .color3 a { color: red; }
