#fancy_alerts_topic_n,
#fancy_alerts_quotes_n {
	color: red;
	font-size: .9em !important;
	margin: -.25em 0 0 -3px;
	position: absolute;
}

.fancy_alerts_status_on {
	color: green;
	margin: 0 !important;
	padding: 0 !important;
}
