#topics-personalize {
	margin-bottom: 1em;
	padding-top: 0.3em;
	padding-bottom: 0.3em;
	font-size: 0.8em;
	}

#topics-personalize .hn, #topics-personalize p {
	margin-bottom: 0;
	padding-bottom: 0;
	padding-top: 0;
	}

#topics-personalize .hn {
 	float: left;
 	margin-right: 0.5em;
 	}
